<form data-ng-submit="save()" class="noMargin" name="editRecordCTABloackWidgetForm"
    data-ng-class="{'state-wait': processing }" novalidate>
    <div class="modal-header">
        <h3 class="modal-title col-md-9">Record CTA Block Edit View</h3>
        <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-label="Close"
            id="close-edit-widget-form-btn">
            <div aria-hidden="true" class="version-button">+
            </div>
        </button>
    </div>
    <div class="modal-body">
        <div class="margin-top-md margin-bottom-md">
                  <h6>Select Module</h6>
              </div>
          <div class="form-group"
              data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.cardTilesModule.$invalid && editRecordCTABloackWidgetForm.cardTilesModule.$touched }"
              data-ng-if="modules || playbookModules">
              <label for="cardTilesModule" class="control-label">Data Source<span class="text-danger">*</span>
              </label>
              <select name="cardTilesModule" id="cardTilesModule" class="form-control"
                  data-ng-options="module.type as module.name for module in modules | playbookModules"
                  data-ng-model="config.module" data-ng-change="loadAttributes()" required>
                  <option value="">Select an Option</option>
              </select>
              <div data-cs-messages="editRecordCTABloackWidgetForm.cardTilesModule"></div>
          </div>
          <div data-ng-if="config.module">
              <div class="mertics-widget-border padding-top-md padding-bottom-md"></div>
              <div class="margin-top-md margin-bottom-md">
                  <h6>Select Card Fields</h6>
              </div>
              <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.cardTilesTitle.$invalid && editRecordCTABloackWidgetForm.cardTilesTitle.$touched}">
                  <label for="cardTilesTitle" class="control-label">Title <span class="text-danger">*</span></label>
                  <select id="cardTilesTitle" name="cardTilesTitle" class="form-control"
                      data-ng-model="config.mapping.cardTitle"
                      data-ng-options="field.name as field.title for field in fieldsArray | orderBy: 'title'"
                      data-ng-required="true" required="required">
                      <option value="" class="" selected="selected">Select a field</option>
                  </select>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.cardTilesTitle"></div>
              </div>
              <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.carsTilesSubTitle.$invalid && editRecordCTABloackWidgetForm.carsTilesSubTitle.$touched}">
                  <label for="carsTilesSubTitle" class="control-label">Card Details <span class="text-danger">*</span></label>
                  <select id="carsTilesSubTitle" name="carsTilesSubTitle" class="form-control"
                      data-ng-model="config.mapping.subtitle"
                      data-ng-options="field.name as field.title for field in fieldsArray | orderBy: 'title'"
                      data-ng-required="true" required="required">
                      <option value="" class="" selected="selected">Select a field</option>
                  </select>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.carsTilesSubTitle"></div>
              </div>
            <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.carsTilesSubResult.$invalid && editRecordCTABloackWidgetForm.carsTilesSubResult.$touched}">
                  <label for="carsTilesSubResult" class="control-label">Card Result <span class="text-danger">*</span></label>
                  <select id="carsTilesSubResult" name="carsTilesSubResult" class="form-control"
                      data-ng-model="config.mapping.recordResult"
                      data-ng-options="field.name as field.title for field in fieldsArray | orderBy: 'title'"
                      data-ng-required="true" required="required">
                      <option value="" class="" selected="selected">Select a field</option>
                  </select>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.carsTilesSubResult"></div>
              </div>
              <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.carsTilesStatus.$invalid && editRecordCTABloackWidgetForm.carsTilesStatus.$touched}">
                  <label for="carsTilesStatus" class="control-label">Picklist <span class="text-danger">*</span></label>
                  <select id="carsTilesStatus" name="carsTilesStatus" class="form-control"
                      data-ng-model="config.mapping.recordStatus"
                      data-ng-options="field.name as field.title for field in pickListFields | orderBy: 'title'"
                      data-ng-required="true" required="required">
                      <option value="" class="" selected="selected">Select a field</option>
                  </select>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.carsTilesStatus"></div>
              </div>
              <div class="mertics-widget-border padding-top-md padding-bottom-md"></div>
              <div class="margin-top-md margin-bottom-md">
                  <h6>Filter Criteria</h6>
              </div>
              <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.cardTilesfilters.$invalid && editRecordCTABloackWidgetForm.cardTilesfilters.$touched }">
                  <div data-cs-conditional data-ng-if="fieldsArray.length > 0" data-fields="$parent.fields"
                      data-reset-field="$parent.fields" data-mode="'queryFilters'" data-ng-model="$parent.config.query"
                      data-parent-form="editRecordCTABloackWidgetForm"
                      data-enable-expression="(page==='dashboard' || page==='reporting')" data-show-uuid="true"
                      data-form-name="'editRecordCTABloackWidgetForm'"></div>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.cardTilesfilters"></div>
              </div>
              <div class="mertics-widget-border padding-top-md padding-bottom-md"></div>
              <div class="margin-top-md margin-bottom-md">
                  <h6>Default Sort</h6>
              </div>
              <div class="form-group"
                  data-ng-class="{ 'has-error': editRecordCTABloackWidgetForm.cardTilesSortBy.$invalid && editRecordCTABloackWidgetForm.cardTilesSortBy.$touched }">
                  <div data-cs-default-sort data-ng-model="config.query" data-fields-array="fieldsArray"
                      data-parent-form="cardForm"></div>
                  <div data-cs-messages="editRecordCTABloackWidgetForm.cardTilesSortBy"></div>
              </div>
          </div>
      </div>
    <div class="modal-footer">
        <button id="edit-widget-save" type="submit" class="btn btn-sm btn-primary"><i
                class="icon icon-check margin-right-sm"></i>Save</button>
        <button id="edit-widget-cancel" type="button" class="btn btn-sm btn-default" data-ng-click="cancel()"><i
                class="icon icon-close margin-right-sm">
            </i>Close</button>
    </div>
</form>